*,
*:before,
*:after {
  box-sizing: border-box;
  letter-spacing: -.05px;
}

body {
	font-family: 'Open Sans', sans-serif; 
	display: flex;
}

li i, 
p i,
h3 i {
	margin: 0px 7px 0px 0px;
}

button,
li,
select {
	cursor: pointer;
}


			/*SIDE MENU STYLES*/

.side-menu {
	background: #374050;
	width: 60vw;
}

.side-menu-top {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 180px;
}

.user-img {
	/*background: magenta;*/
	border-radius: 50%;
	height: 100px;
	width: 120px;
}

.user-dropdown {
	color: #eef2f6;
	margin: 15px 0px 0px;
	border: none;
	background: none;
}

ul {
	padding: 15px 0px;
	list-style: none;
}

.side-menu-hr {
	border: 0px;
	border-top: 1px solid black;
}

.side-menu-nav,
.list-header {
	color: #eef2f6;
	padding: 10px 20px;
	font-size: 10pt;
}

.side-menu-nav:hover {
	color: #374050;
	background: grey;
	border-left: 5px solid #45a8ea;
}

.yellow {
	color: yellow;
}

.blue {
	color: blue;
}

.red {
	color: red;
}

.green {
	color: green;
}


			/*HEADER STYLES*/

.top-hdr-container {
	height: 75px;	
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	border-bottom: 1px solid grey;
}

.burger:hover,
.top-hdr-btn:hover,
.hdr-btn:hover,
.hdr-btn-lrg:hover {
	background: #45a8ea;
	color: #fff;
}

.top-hdr-icon {
	font-size: 18pt;
	color: grey;
	display: flex;
	justify-content: center;
	align-items: center;
	background: none;
	border: none;
	border-left: 1px solid grey;
}

#search-field {
	font-size: 14pt;
	border: none;
	width: 55vw;
}

#search-field::placeholder {
	color: grey;
}

.hdr-content {
	margin: 70px 30px 50px;
	display: grid;
	grid-template-columns: 1fr 275px;
}

h1 {
	padding: 0px 0px 6px 0px;
	color: #374050;
	font-size: 20pt;
	margin: 0px;
}

.hdr-link {
	color: grey;
	margin: 0px;
}

.hdr-a {
	color: #45a8ea;
	text-decoration: none;
}

.hdr-btn-wrapper {
	grid-column: 2;
	display: flex;
	justify-content: flex-end;
}

.hdr-btn {
	border: 1px solid grey;
	background: none;
	border-radius: 50%;
	margin: 0px 5px;
	height: 40px;
	width: 40px;
	color: grey;
}

.hdr-btn-lrg {
	color: grey;
	margin: 0px 10px;
	height: 42px;
    width: 90px;
    background: none;
    border: 1px solid grey;
    border-radius: 50px;
}

.local-nav {
	display: flex;
    padding: 0px;
    margin: 0px 0px 0px 20px;
}

.local-nav-item {
	font-size: 10pt;
	color: grey;
    padding: 8px;
}


.local-nav-item:hover {
	border-bottom: 3px solid #67b9c0;
	z-index: 10;
}

.local-nav-highlight {
	border-bottom: 3px solid #45a8ea;
	color: #374050;
}
			/*MAIN CONTENT-DATA STYLES*/

main {
	background-color: #eef2f6;
}

.data-content {
	padding: 50px 0px;
    margin: 0px 10px;
	display: flex;
	justify-content: space-around;
}

.graph {
	/*width: 50%;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/*.graph-1 {
	justify-content: space-between;
    display: flex;
    width: 520px;
    margin: 20px;
    padding: 25px 0px;
}

.circle-graph-outer {
	justify-content: center;
    display: flex;
    width: 150px;
    border-radius: 50%;
    background: blue;
    height: 150px;
    align-items: center;
}

.circle-graph-inner {
	background: lightblue;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    text-align: center;
}*/

.graph-1-btn,
.graph-2-btn {
	padding: 5px 16px;
    font-size: 10pt;
	border-radius: 50px;
	border: 1px solid grey;
	background: #fff;
	color: #374050;
}

.bar-graph {
	margin: 20px;
	width: 90%;
}



			/*MAIN CONTENT STYLES*/

.main {
	padding: 70px 15px 0px;
	justify-content: space-around;
	display: flex;
}

.article-hdr {
	background: #717e93;
}

table {
	margin: 0px 20px;
	border-collapse: collapse;
}

.edit-btn {
	font-size: 10pt;
	color: #fff;
	background: #8798b5;
	width: 75px;
    border: none;
    height: 35px;
    display: flex;
    justify-content: space-around;
}

.job-description {
	width: 200px;
}

th {

	color: #fff;
	padding: 20px;
	text-align: left;
}

tr {
	background: #fff;
	height: 70px;
	font-size: 10pt;
}

td {
	line-height: 1.5;
	padding: 20px;
	border-bottom: 1px solid grey;
}

.table-img {
	border-radius: 50%;
	width: 50px;
	height: 50px;
}



			/*ASIDE STYLES*/

.main-aside {
	width: 285px;
	margin: 0px 20px;
	display: flex;
	flex-direction: column;
	
}

.aside-btn-icon {
	position: absolute;
	left: 10px;
}

.aside-btn {
	font-size: 11pt;
	color: #fff;
	position: relative;
	margin: 0px 0px 15px;
    height: 45px;
    width: 280px;
    border: none;
}

.face-book {
	background: #4f6fb8;
}

.twitter {
	background: #45a8ea;
}

.linked-in {
	background: #3480b7;
}

h3,
td {
	color: #374050;
}

.aside-hr {
	margin: 20px 0px 12px;
	width: 100%;
}

.copy-link-description {
	font-size: 13px;
    margin: 0px;
    height: 3em;
    color: grey;
}

.copy-link-wrapper {
	display: flex;
	align-items: center;
}

.copy-link {
	font-size: 11pt;
	color: grey;
	width: 285px;
	padding: 13px 0px 10px 5px;
    background: #fff;
    height: 45px;
    overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.copy-btn {
	color: #fff;
	background: #67b9c0;
	width: 80px;
	border: none;
	height: 45px;
}

@media screen and (max-width: 1024px) {
	body {
		flex-direction: column;
	}

			/*SIDE MENU STYLES*/

	.side-menu {
		height: 100px;
		width: 100%;
		display: flex;
	}

	.side-menu-top {
		width: 260px;
    	height: 100%;
    	flex-direction: row;
    	justify-content: space-around;
	}

	.user-img {
		width: 70px;
		height: 70px;
	}

	.user-dropdown {
		margin: 0px;
	}

	.list-header {
		background: #717e93;
		border: 1px solid grey;
    	border-radius: 50px;
    	padding: 10px 25px;
    	margin: 0px 30px;
	}

	.side-menu-nav {
		display: none;
	}

			/*MAIN CONTENT-DATA STYLES*/

	.data-content {
		flex-direction: column;
	}

	.bar-graph {
		width: 60%;
	}

	.graph-1-btn {
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 800px) {

			/*MAIN CONTENT STYLES*/
	.main {
		flex-direction: column;
	}

	.article-content {
		margin-bottom: 50px;
	}

			/*ASIDE STYLES*/
	
	.main-aside {
		margin: 0px;
		width: 100%;
		display: grid;
		grid-template-columns: 50% 50%;
		grid-template-rows: 50% 50%;
	}

	.aside-btn-wrapper {
		justify-content: flex-end;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0px 7px;
		grid-row: 2;
		grid-column: 2;
		margin: 20px 0px;
	}

	.aside-btn {
		width: 38vw;
	}

	.aside-hr {
		display: none;
	}

	.aside-link-wrapper1 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0px 0px 0px 38px;
		grid-row: 1;
		grid-column: 2;
		width: 43vw;
		margin: 20px 0px;
	}

	.aside-link-wrapper2 {
		display: flex;
		flex-direction: column;
		justify-content: center;
	    padding: 0px 0px 0px 38px;
		grid-row: 1;
		grid-column: 1;
		width: 43vw;
		margin: 20px 0px;
	}

	.aside-link-wrapper3 {
		display: flex;
		flex-direction: column;
		justify-content: center;
	    padding: 0px 0px 0px 38px;		
		grid-row: 2;
		grid-column: 1;
		width: 43vw;
		margin: 20px 0px;
	}

	.copy-link {
		width: 100%;
	}

}

@media screen and (max-width: 650px) {
	.side-menu {
		display: none;
	}

	.burger {
		background: #374050;
	}

	.hdr-content {
		display: flex;
		flex-direction: column;
		margin: 20px 20px 0px;
	}

	.hdr-btn-wrapper {
		margin: 25px 0px;
	}

	.local-nav {
		flex-direction: column;
    	position: absolute;
    	width: 120px;
	}

	.top-hdr-container {
		height: 130px;
    	grid-template-columns: 1fr 1fr 60vw;
    	grid-template-rows: 1fr 1fr;
	}

	.top-hdr-icon {
    	width: 20vw;
	}

	.bar-graph {
		width: 85vw;
	}

	.job-description {
		width: 100px;
	}

	table {
		margin: 0px;
	}
	










